/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Scroll Custom */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

/* Reset Basic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
nav {
  height: 80px;
  z-index: 60;
  transition: background-color 0.4s ease;
}

.furia-logo {
  width: 110px;
}

.navbar-toggler {
  border: 2px solid #333;
}

.custom-navbar-nav {
  display: flex;
  gap: 25px;
  justify-content: end;
}

.nav-item a {
  height: 15px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata", monospace;
  transition-duration: 0.2s;
}

.nav-item a:hover {
  color: white;
  transition-duration: 0.2s;
  font-weight: 500;
}

.nav-link:focus {
  color: red;
}

.draw-btn {
  padding: 14px 32px;
  border-radius: 4px;
  border: 2px solid transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  transition: color 0.4s ease;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  background: none;
  overflow: hidden;
}

.draw-btn::after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: white;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.6s ease 0.4s;
}

.draw-btn:hover::before {
  transform: translateX(-50%) scaleX(1);
}

.draw-btn:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.draw-btn:hover {
  color: white;
}

/* Navbar Vertical */
.navbar-vertical {
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  z-index: 50;
}

.navbar-vertical a {
  font-size: 22px;
  color: white;
  margin: 6px;
  padding: 3px;
  transition-duration: 0.3s;
}

.navbar-vertical a:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

/* Hero Section */
.hero {
  position: relative;
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/7ab856224265583.680813b7b7754.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 150px;
}

.hero-title-emphasis {
  background-color: rgba(56, 63, 83, 0.6); padding: 10px 0px 10px 25px;
}

.hero-fade {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 1) 100%);
  position: relative;
  padding: 20px;
  box-shadow: inset 0 -6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
}

.hero-title {
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

.lead {
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
}

/* Btn custom (Conheça a Nação) */
* {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
 
.btnfos {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 45px;
  max-width: 200px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  text-decoration: none;
  margin-top: 30px;
  font-weight: 400;
  font-family: "Inconsolata", monospace;
}

.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}

.btnfos-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 900;
}

.btnfos-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/*Comunidade*/
.story{
  display: flex;
  justify-content: center;
  height: 600px;
  margin-bottom: 220px;
}

.story-txt{
  width: 24%;
  padding: 20px;
}

.story-txt p:first-of-type {
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Inconsolata", monospace;
}

.story-txt h1 {
  background-color:rgba(56, 63, 83, 0.6);
  color: white;
  width: 564px;
  font-size: 50px;
  padding: 0px 0px 10px 20px ;
  position: relative;
  z-index: 10;
}

.fanclub-description{
  margin-top: 25px;
  font-size: 15px;
  font-weight: 300;
  font-family: "Prompt", sans-serif;
  text-align: center;
  text-align: justify;
  color: white;
  line-height: 29.5px;
}

/* Comunidade (Btn Discord Animation)*/
.discord-buttons {
  display: flex;
  justify-content: space-around;
  top: 20px;
  left: 20px;
  margin-top: 15px;
}

.discord-buttons #discord-btn {
  width: 170px;
  height: 40px;
  background-color: rgba(114, 137, 218, 1);
  margin: 0px;
  color: #A3B8F3;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 0; 
}

.discord-buttons #discord-btn:before, .discord-buttons #discord-btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white; /* Roxo do Discord */
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.discord-buttons #discord-btn:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.discord-buttons #discord-btn:after {
  left: 0;
  bottom: 0;
}

.discord-buttons #discord-btn span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.discord-buttons #discord-btn span:before, .discord-buttons #discord-btn span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: white;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.discord-buttons #discord-btn span:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.discord-buttons #discord-btn span:after {
  left: 0;
  bottom: 0;
}

.discord-buttons #discord-btn p {
  color: white;
  padding: 0; 
  margin: 0;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Inconsolata", monospace;
  
  font-weight: 500;
}

.discord-buttons #discord-btn p:before, .discord-buttons #discord-btn p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.discord-buttons #discord-btn p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.discord-buttons #discord-btn p:after {
  content: attr(data-text);
  top: 150%;
  color: white;
}

.discord-buttons #discord-btn:hover:before, .discord-buttons #discord-btn:hover:after {
  width: 100%;
}

.discord-buttons #discord-btn:hover span {
  z-index: 1;
}

.discord-buttons #discord-btn:hover span:before, .discord-buttons #discord-btn:hover span:after {
  height: 100%;
}

.discord-buttons #discord-btn:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.discord-buttons #discord-btn:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.discord-buttons #discord-btn.start {
  background-color: white; 
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.discord-buttons #discord-btn.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.discord-buttons #discord-btn.start p:after {
  color: white;
  transition: all 0s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.discord-buttons #discord-btn.start:hover:before, .discord-buttons #discord-btn.start:hover:after {
  display: none;
}

.discord-buttons #discord-btn.start:hover span {
  display: none;
}

.discord-buttons #discord-btn:active {
  outline: none;
  border: none;
}

.discord-buttons #discord-btn:focus {
  outline: 0;
}

/* Comunidade (Video)*/
.story-video{
  width: 57%;
}

video {
  width: 100%;       
  height: 100%; 
  object-fit: cover;
}

/* AGENDA (Timeline)*/
#calendario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
}

.agenda {
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin-bottom: 220px;
}

.agenda::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #383F53F3;
  transform: translateX(-50%);
  z-index: 0;
}

.agenda-item {
  position: relative;
  width: 46.5%;
  padding: 1rem;
  z-index: 1;
}

.agenda-left {
  text-align: right;
  left: 0;
}

.agenda-left img{
  margin-left: 7px;
}

.agenda-right {
  text-align: left;
  left: 50%;
}

.agenda-right img{
  margin-right: 7px;
}

.agenda-logo{
  width: 40px;
}

.agenda-content {
  background-color: #000;
  border: 1px solid #383F53F3;
  padding: 1rem;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 0 10px #383F53F3;
  transition: all 0.3s ease;
}

.agenda-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #A3B8F3;
}

.agenda-content::after {
  content: '';
  position: absolute;
  top: 1rem;
  width: 0;
  height: 0;
  border: 8px solid transparent;
}

.agenda-left .agenda-content::after {
  right: -16px;
  border-left-color: #383F53F3;
}

.agenda-right .agenda-content::after {
  left: -16px;
  border-right-color: #383F53F3;
}

.agenda-date {
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.agenda-event {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.agenda-event-left {
  justify-content: start;
}

.agenda-event-right {
  justify-content: end;
}

.agenda-subtext {
  display: block;
  margin-top: 0.5rem;
  color: #bbb;
  font-size: 0.9rem;
}

.agenda-event-02 {
  margin-top: 15px;
}

/* Loja */
.loja{
  display: flex;
  justify-content: center;
  height: 600px;
  display: flex;
  gap: 40px;
  margin-bottom: 220px;
}

.loja-img{
  background-image: url('../img/loja/banner-loja.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 37.5%;
  margin-right: 30px;
}

.loja-txt{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 41.5%;
}

.loja-txt h1 {
  color: white;
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  line-height: 55px;
  color: white;
  font-size: 50px;
  padding: 0px 0px 10px 20px ;
  position: relative;
  z-index: 10;
  background-color: rgba(56, 63, 83, 0.6); 
  padding: 0 10px;
}

.loja-txt p {
  font-size: 20px;
  color: white;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  text-align: left;
}

.loja-txt-btn{
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 25px;
}

.loja-txt-btn a{
  color: white;
  text-decoration: none;
  padding: 5px 40px;
}

.loja-txt-btn a:first-of-type{
  background-color: #383F53F3;
  color: white;
}

.loja-txt-btn a:nth-of-type(2){
  border: 1px solid #383F53F3;
}

/* Loja (Carrossel) */
.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  margin-top: 30px;
  font-family: sans-serif;
  color: #fff;
}

/* Container principal do Swiper */
.swiper-container {
  display: flex;
  justify-content: center;
  width: 900px;
  position: relative;
  padding-bottom: 45px;
  overflow-x: hidden;
  color: black;
}

.card-img-size {
  background-position: center;
  background-size: cover;
}

/* Área que contém os slides */
.swiper-wrapper {
  display: flex;
  transition: transform 0.4s ease-out;
}

/* Slide individual */
.swiper-slide {
  flex-shrink: 0;
  width: 0;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  box-sizing: border-box;
  border: 2px solid rgba(56, 63, 83, 0.2);
  background-color: #383F53F3;
  border-radius: 10px;
}

/* Paginação (bolinhas) */
.swiper-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  margin: 0;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: black;
  border: 2px solid white;
}

/* Controles de navegação */
.swiper-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 70px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 50%;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: white;
  color: #383F53F3;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0.7em;
}

/* Estados desabilitados */
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
}

/* Exibe os botões ao passar o mouse no container */
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  opacity: 1;
}

/* Posição dos botões */
.swiper-button-prev {
  left: 0;
  bottom: 0;
}

.swiper-button-next {
  left: 40px;
  bottom: 0;
}